# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/.vs
test/Debug
*.pdb
build/.vs
build/Debug
build/win32_test/Debug
build/Release
build/win32_test/Release
build/d3d11_demo/Debug
build/d3d11_demo/Release
data/fonts
bin32/dock.data
apps/ap/Debug
apps/ap/Release
build/CRT_test/Debug
build/CRT_test/Release
