# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/.vs
test/Debug
*.pdb
build/.vs
build/Debug
build/win32_test/Debug
build/Release
build/win32_test/Release
build/d3d11_demo/Debug
build/d3d11_demo/Release
data/fonts
bin32/dock.data
apps/ap/Debug
apps/ap/Release
build/CRT_test/Debug
build/CRT_test/Release
build/CRT_test/x64/Debug
build/CRT_test/x64/Release
demos/.vs
demos/customtitlebar/.vs
demos/customtitlebar/Debug
demos/customtitlebar/Release
demos/customtitlebar/x64/Debug
demos/customtitlebar/x64/Release
build/mgf/Debug
build/mgf/Release
libs/
build/mgf/x64/Debug

build/mgf/x64/Release
Tools/resconv/Debug


Tools/resconv/Release
demos/gdi_d3d11/Debug
demos/gdi_d3d11/Release
demos/ap/Debug
demos/ap/Release
build/brotli/Debug

build/brotli/Release
build/curl/Debug
build/curl/Release
build/libssh2/Debug
build/libssh2/Release
build/OpenSSL/Debug
build/OpenSSL/Release
build/zlib/Debug
build/zlib/Release
build/zstd/Debug
build/zstd/Release
demos/ap/x64/Debug
demos/ap/x64/Release
build/cares/Debug
build/cares/Release
build/libidn2/Debug
build/libidn2/Release
build/nghttp2/Debug

build/nghttp2/Release
build/nghttp3/Debug
build/nghttp3/Release
*.exp
build/brotli/x64/Debug
build/brotli/x64/Release
build/d3d11_demo/x64/Debug
build/d3d11_demo/x64/Release
build/OpenSSL/x64/Debug
build/OpenSSL/x64/Release
build/win32_test/x64/Debug
build/win32_test/x64/Release
build/x64/Debug
build/x64/Release
build/zlib/x64/Debug
build/zlib/x64/Release
build/zstd/x64/Debug
build/zstd/x64/Release
Tools/resconv/x64/Debug
Tools/resconv/x64/Release
